@model gbsitsec.ViewModel.ItemListViewModel

@{
    ViewData["Title"] = "AddMemberToList";
}

<h4>@TempData["error"] </h4> 

<h2>AddMemberToList</h2>

<h4>ItemListViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveMember" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="access_level" class="control-label"></label>
                <input asp-for="access_level" class="form-control" />
                <span asp-validation-for="access_level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="control-label"></label>
                <input asp-for="created_at" class="form-control" />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="members_count" class="control-label"></label>
                <input asp-for="members_count" class="form-control" />
                <span asp-validation-for="members_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subscribed" class="control-label"></label>
                <input asp-for="subscribed" class="form-control" />
                <span asp-validation-for="subscribed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
